extends ./layout.jade
include ../mixins/util.jade

block title
  title= resume_title

block style
  link(rel='stylesheet', href="index.css")

block header
  header.vertical-layout
    if avatar
      figure.avatar
        +avatar(avatar)(invisible-lt-sm visible-print)
    section.title
      h1= name
      h2= job_description.join("/")

block sidebar
  sidebar.content.column-4.vertical-layout.first.contrast
    block header
    block introduction
    block contacts
    block education
    block language

block content
  content.content.column-8.vertical-layout.last
    block experience
    block skills

block IEcondition
    <!--[if lte IE 8]>
    .lte-ie8-comment-wrapper
      p.lte-ie8-comment #{lt_ie8_comment}
    <![endif]-->
